

/launcher/build
/unityLibrary/build

/unityLibrary/src/main/assets
/unityLibrary/src/main/Il2CppOutputProject

/unityLibrary/src/main/jniLibs
/unityLibrary/src/main/jniStaticLibs

.gradle
.idea

/unityLibrary/symbols


/launcher/release